@import "config.rasi"

* {
    alternate-normal-background:    @background;
    active-background:              @lightbg;
    active-foreground:              @foreground;
}

configuration {
    show-icons:                 false;
}

window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       500px;
    x-offset:                    0px;
    y-offset:                    0px;
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      2px solid;
    border-radius:               5px;
    cursor:                      "default";
}

mainbox {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     20px;
    border:                      0px solid;
    border-radius:               0px;
    background-color:            transparent;
    children:                    [ "listview" ];
}

listview {
    enabled:                     true;
    columns:                     3;
    lines:                       2;
    cycle:                       false;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    background-color:            transparent;
    cursor:                      "default";
}

element {
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     10px;
    border:                      1px solid;
    border-radius:               5px;
    cursor:                      pointer;
}

element-icon {
    size:                           4em;
}

element-text {
    background-color:            transparent;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}

element selected.normal {
    border:                      1px solid;
    border-radius:               5px;
}
